@import "tailwindcss";
@import './neumorphic_styling';

@theme {

    /* Custom Colours */
    --color-primary-custom: oklch(0.2665 0.0843 265.2);
    --color-secondary-custom: oklch(0.7153 0.1794 50.61);
    --color-accent-custom: oklch(0.8596 0.083 118.52);
    --color-background-custom: oklch(0.9491 0 0);
    --color-custom-red: oklch(0.6259 0.2138 31.18);
    

    --color-neumorphic-grey: oklch(0.8582 0.0027 286.34);
}

@layer base {
    .input-div {
        @apply flex mb-3 justify-between
    }

    /* .input-styling {
        @apply border border-gray-800 w-100 ps-2
    } */

    .btn-primary {
        @apply px-3 py-2 border border-gray-800 hover:bg-gray-800 hover:text-white
    }

    .btn-primary-border-white {
        @apply px-3 py-2 bg-white border border-gray-800 hover:bg-gray-800 hover:text-white hover:border-white
    }
 }

 @layer utilities {

    @keyframes grow-width {
        0% { width: 0%; }
        100% { width: 100%; }
    }

    .animate-grow {
        animation: grow-width 5s linear forwards;
    }

    @keyframes move-alert {
        0%   { transform: translateX(100%); opacity: 0; } 
        20%  { transform: translateX(0%); opacity: 1; }  
        80%  { transform: translateX(0%);  opacity: 1; }              
        100% { transform: translateX(100%); opacity: 0;}    
    }

    .animate-move-alert {
        @apply transform block;
        animation: move-alert 2.5s ease-in-out forwards;
    }
}