@import "tailwindcss";

@theme {

    /* Custom Colours */
    --color-primary-custom: oklch(0.2665 0.0843 265.2);
    --color-secondary-custom: oklch(0.7153 0.1794 50.61);
    --color-accent-custom: oklch(0.8596 0.083 118.52);
    --color-background-custom: oklch(0.9491 0 0);
    
}

@layer base {
    .input-div {
        @apply flex mb-3 justify-between
    }

    .input-styling {
        @apply border border-gray-800 w-100 ps-2
    }

    .btn-primary {
        @apply px-3 py-2 border border-gray-800 hover:bg-gray-800 hover:text-white
    }

    .btn-primary-border-white {
        @apply px-3 py-2 bg-white border border-gray-800 hover:bg-gray-800 hover:text-white hover:border-white
    }
 }